body{
  font-family: 'Roboto', sans-serif;
}
.container::before{
  padding: 0;
  margin: 0;
}
.background{
  width: 100%;
  top: 13px;
  position: absolute;
  z-index: -999;
}
.header{
  background-color: #fff;
  width: 100%;
  height: 90px;
  box-shadow: 0px 0px 5px;
}
.logo{
  width: 184px;
  height: 63px;
  margin-top:15px;
}
.form-container{
  position: relative;
  background-color: #fff;
  border-radius: 5%;
}
.form-text{
  padding: 20px 30px;
}
.form-text label{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #80C41C ;
}
.form-group input{
  border: 2px solid #80C41C;
  padding: 0px 15px;
  box-sizing: border-box;
  border-radius: 25px;
}
.form-group input:focus{
  box-shadow: none;
  border: 2px solid #80C41C;
}
button, input {
  overflow: hidden;
}
.btn{
  width: 150px;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  background-color: #80C41C;
  border-radius: 25px;
  margin-top: 10px;
}
.btn:focus{
  box-shadow: none;
}
.form-text p{
  font-size: 14px;
  margin: 20px -24px;
}
.form-text p a{
  font-weight:500;
}
.footer{
  background-color: #333333;
  width: 100%;
  height: 95px;
}
.footer p{
  padding-top:40px;
  color: #fff;
  font-size: 14px;
}
@media (min-width:1201px){
  .background{
    height: 900px;
  }
  .logo{
    margin-left: 70px;
    padding-right: 50px;
  }
  .form-container{
    margin-top: 160px;
    margin-left: 50px;
    margin-right: -60px;
    margin-bottom: 225px;
  }
}
@media (max-width:1200px) and (min-width:992px){
  .background{
    height: 1250px;
    padding-top: -57px;
  }
  .logo{
    padding-left: 80px;
  }
  .form-container{
    margin-top: 280px;
    margin-left: 70px;
    margin-right: -90px;
    margin-bottom: 440px;
  }
}
@media (max-width:991px) and (min-width:768px){
  .background{
    height: 1200px;
    padding-top: -57px;
  }
  .logo{
    padding-left: 40px;
  }
  .form-container{
    margin-top: 260px;
    margin-left: 10px;
    margin-bottom: 450px;
  }
}
@media (max-width:767px)  and (min-width:576px) {
  .background{
    height: 1200px;
    padding-top: -57px;
  }
  .logo{
    padding-left: 25px;
  }
.form-container{
  margin-top: 240px;
  margin-bottom: 440px;
  margin-left: 10px;
  margin-right: 10px;
  }
}

@media (max-width:575px) and (min-width:300px) {
  .background{
    height: 1200px;
    padding-top: -57px;
  }
  .logo{
    padding-left: 30px;
  }
  .form-container{
    margin-top: 240px;
    margin-bottom: 440px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
